
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@if (Session["check"] != null) {
    <script>
        alert("Username or password is wrong");
    </script>
    Session["check"] = null;
}
@using (Html.BeginForm("Login", "Admin", FormMethod.Post))
{
    <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate="Enter username">
        <input class="input100" type="text"  name="username" value="admin">
        <span class="focus-input100" data-placeholder="Username"></span>
    </div>

    <div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
        <input class="input100" type="password"  name="password" value="admin">
        <span class="focus-input100" data-placeholder="Password"></span>
    </div>

    <div class="container-login100-form-btn">
            <input class="login100-form-btn" type="submit" value="Log In"/>
    </div>
}
<ul class="login-more p-t-190">
    <li class="m-b-8">
        <span class="txt1">
            Forgot
        </span>

        <a href="#" class="txt2">
            Username / Password?
        </a>
    </li>

    <li>
        <span class="txt1">
            Don’t have an account?
        </span>

        <a href="#" class="txt2">
            Sign up
        </a>
    </li>
</ul>